* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: #111720;
}

header h1 {
    font-size: 32px;
    color: #fac650;
    font-family: 'Press Start 2P', cursive;
}